_/3527_07_Codes/Mule/file_importer/src/main/app/File Importer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/1.1/mule-cmis.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <cmis:config name="CMIS" username="admin" password="admin" repositoryId="f0ebcfb4-ca9f-4991-bda8-9465f4f11527" baseUrl="http://localhost:8080/alfresco/cmisatom" doc:name="CMIS"/>
    <flow name="File_ImporterFlow1" doc:name="File_ImporterFlow1">
        <file:inbound-endpoint responseTimeout="10000" doc:name="Incoming File" path="/home/mbergljung/MuleStudio/workspace/file_importer/inboundFiles" pollingFrequency="3000" mimeType="application/pdf"/>
        <object-to-byte-array-transformer doc:name="Object to Byte Array" mimeType="application/pdf"/>
        <cmis:create-document-by-path config-ref="CMIS"  doc:name="Store File as Doc in Alfresco" filename="#[header:originalFilename]" folderPath="/MuleFiles" mimeType="application/pdf" objectType="cmis:document" versioningState="MAJOR"/>
    </flow>
</mule>
